@font-face {
  font-family: "Oxanium Regular";
  src: url("/fonts/oxanium-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Play Regular";
  src: url("/fonts/play-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
